// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  color:#4c8839;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Georgia, Times, serif;
}

p, div {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

input[type="text"] {
  width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: 300;
  color: #888888;
  padding: 0 10px;
}

.book-info {
  margin-top: 24px;
  h3 {
    font-size:16px;
    text-transform:capitalize;
    font-weight: bold;
    font-style: italic;
  }
  p {
    color:#7a7a7a;
    margin:8px 0;
  }
}
.action-links {
  margin-bottom:6px;
  h2 {
    font-size:18px;
  }
}
.action-button {
  background: rgba(76,136,57,.5);
  padding:9px;
  color:#ffffff;
  text-decoration: none;
  display:inline-block;
  font-size: 12px;
  margin:6px 0;
  border: none;
  &:hover {
    background: rgba(76,136,57,.6);
  }
  &:active {
    background: rgba(76,136,57,.8);
  }
}

.admin-button {
  border:1px solid rgba(76,136,57,.6);
  padding:18px;
  color:rgba(76,136,57,.8);
  text-decoration: none;
  display:inline-block;
  margin:24px 0;
  &:hover {
    background: rgba(76,136,57,.1);
  }
  &:active {
    background: rgba(76,136,57,.2);
  }
}

#btnStart {
  background-image: url(image_path('btn-start.png'));
  &:hover {
    background-image: url(image_path('btn-start-hover.png'));
  }
}
.btn-next {
  background-image: url(image_path('btn-next.png'));
  &:hover {
    background-image: url(image_path('btn-next-hover.png'));
  }
}
.btn-prev {
  background-image: url(image_path('btn-prev.png'));
  &:hover {
    background-image: url(image_path('btn-prev-hover.png'));
  }
}
#btnEnd {
  background-image: url(image_path('btn-end.png'));
  &:hover {
    background-image: url(image_path('btn-end-hover.png'));
  }
}

form {
  p {
    margin:6px 0;
    label {
      margin:6px 0;
      line-height: 1.6;
    }
  }
  button {

  }
}

#board-buttons {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: auto;
  display:flex;
  justify-content: space-between;
}
.games-list-header {
  margin:24px 0 8px;
  font-size: 18px;
}
.pgn-wrapper {
  display:flex;
  justify-content: space-between;
  input {
    margin:12px;
  }
  p {
    margin-bottom: 12px;
    color: #6e6e6e;
  }
}
#board-buttons button {
  position: relative;
  float: left;
  width: 24%;
  border:1px solid #4c8839;
  background-color:transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 35%;
  min-height: 90px;
  cursor: pointer;
  &:focus {
    background-color:rgba(76,136,57,.1);
    outline:none;
  }
  &:active, .active {
    background-color:rgba(76,136,57,.3);
  }
}

.highlight {
  background-color: #F3F315;
}
#game-data {
  background-color:rgba(76,136,57,.1);
  padding:12px;
  p {
    margin-bottom: .5em;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    &:nth-of-type(1) {
      font-weight: bold;
      font-style: initial;
      //font-size: initial;
    }
  }
}
.gameMoves {
  margin: 12px 0 12px 0px;
  font-weight: bold;
  span {
    font-weight: 300;
  }
  a {
    display:inline-block;
    margin-bottom: 12px;
    color:rgba(76,136,57,1);
  }
}

.content {
  padding:10px;
  max-width: 420px;
  margin:auto;
}

.game-picker {
  margin-bottom: 8px;
  display:flex;
  justify-content: space-between;
  .mini-controls {
    height:48px;
    width:96px;
    display:flex;
    justify-content: space-between;
    > * {
      height:100%;
      width:50%;
      display: inline-block;
      background-color:transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 35%;
      border:1px solid #acb9a8;
      cursor: pointer;
      &:first-child {
        margin-right:4px;
      }
      &:focus {
        background-color:rgba(76,136,57,.4);
      }
    }
  }
  .current-move {
    //width:50%;
    padding-top: 14px;
    font-family: georgia;
    font-style:italic;
    &.b {
      background: rgba(0,0,0,.3);
      color: white;
      padding: 15px 10px 0 10px;
    }
  }
  form {
    width: 40%;
    select {
      font-size: inherit;
      border:none;
      height:48px;
      //background: #cee4c7;
      color:inherit;
      width:100%;
      border:1px solid #acb9a8;
    }
  }
}

.keyboard-shortcuts {
  dt {
    float:left;
  }
}

h1 {
  font-size: 30px;
  margin:10px 0 20px 0;
  text-transform: capitalize;
}
